.nav {
  display: block;
  width: 100%;
  padding: 0;
  .nav-item:not(:last-child) {
    // margin-right: 62px;
  }
  .nav-item {
    a,
    .nav-link {
      display: inline-block;
      padding: 3px 5px;
      border: none;
      font-size: 14px;
      color: #fff;
      background-color: inherit;
      cursor: pointer;
      &:hover,
      &.active {
        border-bottom: 1px solid #fff;
      }
    }
    &:first-child {
      a,
      .nav-link {
        color: #000;
        &:hover,
        &.active {
          border-bottom: 1px solid #000;
        }
      }
    }
  }
}
